<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,122},{133,118}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{133,118}}</string>
                <key>sourceSize</key>
                <string>{151,120}</string>
            </dict>
            <key>10_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{145,118}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{145,118}}</string>
                <key>sourceSize</key>
                <string>{151,120}</string>
            </dict>
            <key>10_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{151,114}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{151,114}}</string>
                <key>sourceSize</key>
                <string>{151,120}</string>
            </dict>
            <key>10_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,2},{151,104}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{151,104}}</string>
                <key>sourceSize</key>
                <string>{151,120}</string>
            </dict>
            <key>10_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,108},{145,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{145,104}}</string>
                <key>sourceSize</key>
                <string>{151,120}</string>
            </dict>
            <key>10_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{141,104}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{141,104}}</string>
                <key>sourceSize</key>
                <string>{151,120}</string>
            </dict>
            <key>10_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{129,104}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{129,104}}</string>
                <key>sourceSize</key>
                <string>{151,120}</string>
            </dict>
            <key>10_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,242},{119,104}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,7},{119,104}}</string>
                <key>sourceSize</key>
                <string>{151,120}</string>
            </dict>
            <key>10_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,328},{119,104}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,7},{119,104}}</string>
                <key>sourceSize</key>
                <string>{151,120}</string>
            </dict>
            <key>10_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,330},{121,104}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,9},{121,104}}</string>
                <key>sourceSize</key>
                <string>{151,120}</string>
            </dict>
            <key>10_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{127,108}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,8},{127,108}}</string>
                <key>sourceSize</key>
                <string>{151,120}</string>
            </dict>
            <key>10_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,214},{129,112}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{129,112}}</string>
                <key>sourceSize</key>
                <string>{151,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_fram_10.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:33265f433cc4b6b65d866ae83ea5d976:1/1$</string>
            <key>textureFileName</key>
            <string>fish_fram_10.png</string>
        </dict>
    </dict>
</plist>
