<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>23_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{174,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,24},{174,215}}</string>
                <key>sourceSize</key>
                <string>{262,263}</string>
            </dict>
            <key>23_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,267},{174,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,24},{174,215}}</string>
                <key>sourceSize</key>
                <string>{262,263}</string>
            </dict>
            <key>23_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{178,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,26},{178,211}}</string>
                <key>sourceSize</key>
                <string>{262,263}</string>
            </dict>
            <key>23_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,480},{182,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,28},{182,207}}</string>
                <key>sourceSize</key>
                <string>{262,263}</string>
            </dict>
            <key>23_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{188,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,29},{188,205}}</string>
                <key>sourceSize</key>
                <string>{262,263}</string>
            </dict>
            <key>23_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,422},{192,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,30},{192,203}}</string>
                <key>sourceSize</key>
                <string>{262,263}</string>
            </dict>
            <key>23_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,689},{194,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,30},{194,203}}</string>
                <key>sourceSize</key>
                <string>{262,263}</string>
            </dict>
            <key>23_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,215},{194,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,29},{194,205}}</string>
                <key>sourceSize</key>
                <string>{262,263}</string>
            </dict>
            <key>23_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,693},{194,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,28},{194,207}}</string>
                <key>sourceSize</key>
                <string>{262,263}</string>
            </dict>
            <key>23_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,267},{196,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,26},{196,211}}</string>
                <key>sourceSize</key>
                <string>{262,263}</string>
            </dict>
            <key>23_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,701},{196,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,26},{196,211}}</string>
                <key>sourceSize</key>
                <string>{262,263}</string>
            </dict>
            <key>23_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,480},{182,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,26},{182,211}}</string>
                <key>sourceSize</key>
                <string>{262,263}</string>
            </dict>
            <key>23_round.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{262,263}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,263}}</string>
                <key>sourceSize</key>
                <string>{262,263}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_fram_23.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:25a88b6df6d59a051d85b9c6b114b615:1/1$</string>
            <key>textureFileName</key>
            <string>fish_fram_23.png</string>
        </dict>
    </dict>
</plist>
