<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,170},{62,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{62,82}}</string>
                <key>sourceSize</key>
                <string>{70,82}</string>
            </dict>
            <key>7_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{68,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{68,82}}</string>
                <key>sourceSize</key>
                <string>{70,82}</string>
            </dict>
            <key>7_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,112},{60,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{60,80}}</string>
                <key>sourceSize</key>
                <string>{70,82}</string>
            </dict>
            <key>7_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,174},{46,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{46,80}}</string>
                <key>sourceSize</key>
                <string>{70,82}</string>
            </dict>
            <key>7_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,50},{44,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{44,82}}</string>
                <key>sourceSize</key>
                <string>{70,82}</string>
            </dict>
            <key>7_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{46,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{46,82}}</string>
                <key>sourceSize</key>
                <string>{70,82}</string>
            </dict>
            <key>7_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{62,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{62,82}}</string>
                <key>sourceSize</key>
                <string>{70,82}</string>
            </dict>
            <key>7_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{70,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,82}}</string>
                <key>sourceSize</key>
                <string>{70,82}</string>
            </dict>
            <key>7_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,50},{60,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{60,80}}</string>
                <key>sourceSize</key>
                <string>{70,82}</string>
            </dict>
            <key>7_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,174},{48,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,1},{48,80}}</string>
                <key>sourceSize</key>
                <string>{70,82}</string>
            </dict>
            <key>7_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{46,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{46,82}}</string>
                <key>sourceSize</key>
                <string>{70,82}</string>
            </dict>
            <key>7_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,86},{48,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{48,82}}</string>
                <key>sourceSize</key>
                <string>{70,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_fram_7.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9a22ab88b490965da151890cef0f83f8:1/1$</string>
            <key>textureFileName</key>
            <string>fish_fram_7.png</string>
        </dict>
    </dict>
</plist>
