<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>22_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,201},{155,351}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,7},{155,351}}</string>
                <key>sourceSize</key>
                <string>{205,365}</string>
            </dict>
            <key>22_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,2},{165,361}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{165,361}}</string>
                <key>sourceSize</key>
                <string>{205,365}</string>
            </dict>
            <key>22_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{177,365}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{177,365}}</string>
                <key>sourceSize</key>
                <string>{205,365}</string>
            </dict>
            <key>22_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,369},{189,361}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{189,361}}</string>
                <key>sourceSize</key>
                <string>{205,365}</string>
            </dict>
            <key>22_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,2},{197,351}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,7},{197,351}}</string>
                <key>sourceSize</key>
                <string>{205,365}</string>
            </dict>
            <key>22_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,724},{203,347}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,9},{203,347}}</string>
                <key>sourceSize</key>
                <string>{205,365}</string>
            </dict>
            <key>22_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,732},{205,349}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{205,349}}</string>
                <key>sourceSize</key>
                <string>{205,365}</string>
            </dict>
            <key>22_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{201,353}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{201,353}}</string>
                <key>sourceSize</key>
                <string>{205,365}</string>
            </dict>
            <key>22_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,365},{189,357}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{189,357}}</string>
                <key>sourceSize</key>
                <string>{205,365}</string>
            </dict>
            <key>22_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,357},{165,353}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,6},{165,353}}</string>
                <key>sourceSize</key>
                <string>{205,365}</string>
            </dict>
            <key>22_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,358},{143,345}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,10},{143,345}}</string>
                <key>sourceSize</key>
                <string>{205,365}</string>
            </dict>
            <key>22_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,358},{147,343}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,11},{147,343}}</string>
                <key>sourceSize</key>
                <string>{205,365}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_fram_22.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:552faf79b235bc6e497ea09a192f892c:1/1$</string>
            <key>textureFileName</key>
            <string>fish_fram_22.png</string>
        </dict>
    </dict>
</plist>
