<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>27_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,2},{155,469}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,469}}</string>
                <key>sourceSize</key>
                <string>{155,469}</string>
            </dict>
            <key>27_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,477},{153,471}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{153,471}}</string>
                <key>sourceSize</key>
                <string>{155,485}</string>
            </dict>
            <key>27_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,477},{151,473}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{151,473}}</string>
                <key>sourceSize</key>
                <string>{155,485}</string>
            </dict>
            <key>27_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,2},{147,475}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{147,475}}</string>
                <key>sourceSize</key>
                <string>{155,485}</string>
            </dict>
            <key>27_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,483},{141,479}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{141,479}}</string>
                <key>sourceSize</key>
                <string>{155,485}</string>
            </dict>
            <key>27_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,2},{137,483}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{137,483}}</string>
                <key>sourceSize</key>
                <string>{155,485}</string>
            </dict>
            <key>27_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,489},{139,485}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{139,485}}</string>
                <key>sourceSize</key>
                <string>{155,485}</string>
            </dict>
            <key>27_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{143,485}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{143,485}}</string>
                <key>sourceSize</key>
                <string>{155,485}</string>
            </dict>
            <key>27_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,489},{147,483}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{147,483}}</string>
                <key>sourceSize</key>
                <string>{155,485}</string>
            </dict>
            <key>27_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{149,479}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{149,479}}</string>
                <key>sourceSize</key>
                <string>{155,485}</string>
            </dict>
            <key>27_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,483},{151,475}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{151,475}}</string>
                <key>sourceSize</key>
                <string>{155,485}</string>
            </dict>
            <key>27_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,2},{155,473}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{155,473}}</string>
                <key>sourceSize</key>
                <string>{155,485}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_fram_27.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b970bb0756dfefb85e1b80b8ca7bc65:1/1$</string>
            <key>textureFileName</key>
            <string>fish_fram_27.png</string>
        </dict>
    </dict>
</plist>
