<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>5_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{66,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,65}}</string>
                <key>sourceSize</key>
                <string>{66,65}</string>
            </dict>
            <key>5_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,69},{64,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{64,65}}</string>
                <key>sourceSize</key>
                <string>{66,65}</string>
            </dict>
            <key>5_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,197},{60,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{60,65}}</string>
                <key>sourceSize</key>
                <string>{66,65}</string>
            </dict>
            <key>5_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,135},{60,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{60,65}}</string>
                <key>sourceSize</key>
                <string>{66,65}</string>
            </dict>
            <key>5_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{64,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{64,65}}</string>
                <key>sourceSize</key>
                <string>{66,65}</string>
            </dict>
            <key>5_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{66,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,65}}</string>
                <key>sourceSize</key>
                <string>{66,65}</string>
            </dict>
            <key>5_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,69},{66,63}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{66,63}}</string>
                <key>sourceSize</key>
                <string>{66,65}</string>
            </dict>
            <key>5_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,69},{64,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{64,65}}</string>
                <key>sourceSize</key>
                <string>{66,65}</string>
            </dict>
            <key>5_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{58,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{58,65}}</string>
                <key>sourceSize</key>
                <string>{66,65}</string>
            </dict>
            <key>5_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,199},{58,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{58,65}}</string>
                <key>sourceSize</key>
                <string>{66,65}</string>
            </dict>
            <key>5_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,135},{62,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{62,65}}</string>
                <key>sourceSize</key>
                <string>{66,65}</string>
            </dict>
            <key>5_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{66,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,65}}</string>
                <key>sourceSize</key>
                <string>{66,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_fram_5.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a12b70ade3ccffd8e93b0f89f674c91d:1/1$</string>
            <key>textureFileName</key>
            <string>fish_fram_5.png</string>
        </dict>
    </dict>
</plist>
