<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{52,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,63}}</string>
                <key>sourceSize</key>
                <string>{52,63}</string>
            </dict>
            <key>3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,67},{52,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,63}}</string>
                <key>sourceSize</key>
                <string>{52,63}</string>
            </dict>
            <key>3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{46,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{46,63}}</string>
                <key>sourceSize</key>
                <string>{52,63}</string>
            </dict>
            <key>3_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,197},{36,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{36,63}}</string>
                <key>sourceSize</key>
                <string>{52,63}</string>
            </dict>
            <key>3_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,67},{32,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{32,63}}</string>
                <key>sourceSize</key>
                <string>{52,63}</string>
            </dict>
            <key>3_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,132},{34,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{34,63}}</string>
                <key>sourceSize</key>
                <string>{52,63}</string>
            </dict>
            <key>3_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,132},{38,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{38,63}}</string>
                <key>sourceSize</key>
                <string>{52,63}</string>
            </dict>
            <key>3_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,67},{40,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{40,63}}</string>
                <key>sourceSize</key>
                <string>{52,63}</string>
            </dict>
            <key>3_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,2},{42,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{42,63}}</string>
                <key>sourceSize</key>
                <string>{52,63}</string>
            </dict>
            <key>3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,2},{46,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{46,63}}</string>
                <key>sourceSize</key>
                <string>{52,63}</string>
            </dict>
            <key>3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,197},{50,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{50,63}}</string>
                <key>sourceSize</key>
                <string>{52,63}</string>
            </dict>
            <key>3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,63}}</string>
                <key>sourceSize</key>
                <string>{52,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_fram_3.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b4c4b47ad5e95e365fd10cebfc24d51a:1/1$</string>
            <key>textureFileName</key>
            <string>fish_fram_3.png</string>
        </dict>
    </dict>
</plist>
