<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>17_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{134,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{134,255}}</string>
                <key>sourceSize</key>
                <string>{140,255}</string>
            </dict>
            <key>17_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,255}}</string>
                <key>sourceSize</key>
                <string>{140,255}</string>
            </dict>
            <key>17_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,2},{138,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{138,251}}</string>
                <key>sourceSize</key>
                <string>{140,255}</string>
            </dict>
            <key>17_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,500},{132,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{132,249}}</string>
                <key>sourceSize</key>
                <string>{140,255}</string>
            </dict>
            <key>17_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,142},{120,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,2},{120,251}}</string>
                <key>sourceSize</key>
                <string>{140,255}</string>
            </dict>
            <key>17_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,634},{116,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,1},{116,253}}</string>
                <key>sourceSize</key>
                <string>{140,255}</string>
            </dict>
            <key>17_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{118,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{118,255}}</string>
                <key>sourceSize</key>
                <string>{140,255}</string>
            </dict>
            <key>17_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,520},{116,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,1},{116,253}}</string>
                <key>sourceSize</key>
                <string>{140,255}</string>
            </dict>
            <key>17_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,382},{116,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,2},{116,251}}</string>
                <key>sourceSize</key>
                <string>{140,255}</string>
            </dict>
            <key>17_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,638},{116,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,3},{116,249}}</string>
                <key>sourceSize</key>
                <string>{140,255}</string>
            </dict>
            <key>17_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,264},{116,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,2},{116,251}}</string>
                <key>sourceSize</key>
                <string>{140,255}</string>
            </dict>
            <key>17_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{118,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{118,255}}</string>
                <key>sourceSize</key>
                <string>{140,255}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_fram_17.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ce71ad354df9a0f2f7241cce72c9f80:1/1$</string>
            <key>textureFileName</key>
            <string>fish_fram_17.png</string>
        </dict>
    </dict>
</plist>
