<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{34,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,64}}</string>
                <key>sourceSize</key>
                <string>{34,64}</string>
            </dict>
            <key>0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,68},{32,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{32,64}}</string>
                <key>sourceSize</key>
                <string>{34,64}</string>
            </dict>
            <key>0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,70},{30,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{30,64}}</string>
                <key>sourceSize</key>
                <string>{34,64}</string>
            </dict>
            <key>0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,38},{32,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{32,64}}</string>
                <key>sourceSize</key>
                <string>{34,64}</string>
            </dict>
            <key>0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,36},{32,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{32,64}}</string>
                <key>sourceSize</key>
                <string>{34,64}</string>
            </dict>
            <key>0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{34,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,64}}</string>
                <key>sourceSize</key>
                <string>{34,64}</string>
            </dict>
            <key>0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{34,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,64}}</string>
                <key>sourceSize</key>
                <string>{34,64}</string>
            </dict>
            <key>0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,2},{32,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{32,64}}</string>
                <key>sourceSize</key>
                <string>{34,64}</string>
            </dict>
            <key>0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{32,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{32,64}}</string>
                <key>sourceSize</key>
                <string>{34,64}</string>
            </dict>
            <key>0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{32,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{32,64}}</string>
                <key>sourceSize</key>
                <string>{34,64}</string>
            </dict>
            <key>0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{34,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,64}}</string>
                <key>sourceSize</key>
                <string>{34,64}</string>
            </dict>
            <key>0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{34,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,64}}</string>
                <key>sourceSize</key>
                <string>{34,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_fram_0.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8327fd3cb46832914d20cd579f10a90a:1/1$</string>
            <key>textureFileName</key>
            <string>fish_fram_0.png</string>
        </dict>
    </dict>
</plist>
