<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>20_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{179,295}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{179,295}}</string>
                <key>sourceSize</key>
                <string>{181,295}</string>
            </dict>
            <key>20_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,299},{181,293}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{181,293}}</string>
                <key>sourceSize</key>
                <string>{181,295}</string>
            </dict>
            <key>20_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,297},{179,289}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{179,289}}</string>
                <key>sourceSize</key>
                <string>{181,295}</string>
            </dict>
            <key>20_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,2},{169,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{169,285}}</string>
                <key>sourceSize</key>
                <string>{181,295}</string>
            </dict>
            <key>20_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{151,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,4},{151,287}}</string>
                <key>sourceSize</key>
                <string>{181,295}</string>
            </dict>
            <key>20_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,887},{127,289}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,3},{127,289}}</string>
                <key>sourceSize</key>
                <string>{181,295}</string>
            </dict>
            <key>20_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,2},{103,293}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,1},{103,293}}</string>
                <key>sourceSize</key>
                <string>{181,295}</string>
            </dict>
            <key>20_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,594},{95,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,2},{95,291}}</string>
                <key>sourceSize</key>
                <string>{181,295}</string>
            </dict>
            <key>20_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,291},{101,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,4},{101,287}}</string>
                <key>sourceSize</key>
                <string>{181,295}</string>
            </dict>
            <key>20_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,877},{115,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,5},{115,285}}</string>
                <key>sourceSize</key>
                <string>{181,295}</string>
            </dict>
            <key>20_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,588},{143,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,4},{143,287}}</string>
                <key>sourceSize</key>
                <string>{181,295}</string>
            </dict>
            <key>20_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,594},{167,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{167,291}}</string>
                <key>sourceSize</key>
                <string>{181,295}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_fram_20.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:080b6be00aaeb01e7d6a5490d0b1820c:1/1$</string>
            <key>textureFileName</key>
            <string>fish_fram_20.png</string>
        </dict>
    </dict>
</plist>
