<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>24_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1052},{340,348}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,0},{340,348}}</string>
                <key>sourceSize</key>
                <string>{402,348}</string>
            </dict>
            <key>24_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,702},{392,348}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{392,348}}</string>
                <key>sourceSize</key>
                <string>{402,348}</string>
            </dict>
            <key>24_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{402,348}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{402,348}}</string>
                <key>sourceSize</key>
                <string>{402,348}</string>
            </dict>
            <key>24_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,352},{392,348}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{392,348}}</string>
                <key>sourceSize</key>
                <string>{402,348}</string>
            </dict>
            <key>24_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{402,348}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{402,348}}</string>
                <key>sourceSize</key>
                <string>{402,348}</string>
            </dict>
            <key>24_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{396,348}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{396,348}}</string>
                <key>sourceSize</key>
                <string>{402,348}</string>
            </dict>
            <key>24_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,702},{368,328}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,10},{368,328}}</string>
                <key>sourceSize</key>
                <string>{402,348}</string>
            </dict>
            <key>24_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,1032},{356,328}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,10},{356,328}}</string>
                <key>sourceSize</key>
                <string>{402,348}</string>
            </dict>
            <key>24_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,1692},{348,328}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,10},{348,328}}</string>
                <key>sourceSize</key>
                <string>{402,348}</string>
            </dict>
            <key>24_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,1362},{332,328}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,10},{332,328}}</string>
                <key>sourceSize</key>
                <string>{402,348}</string>
            </dict>
            <key>24_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1394},{338,348}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{338,348}}</string>
                <key>sourceSize</key>
                <string>{402,348}</string>
            </dict>
            <key>24_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,1394},{332,348}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,0},{332,348}}</string>
                <key>sourceSize</key>
                <string>{402,348}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_fram_24.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:906124b880d5d4aebcbdbca7802e0483:1/1$</string>
            <key>textureFileName</key>
            <string>fish_fram_24.png</string>
        </dict>
    </dict>
</plist>
