<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>18_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{165,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,296}}</string>
                <key>sourceSize</key>
                <string>{165,296}</string>
            </dict>
            <key>18_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{165,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,296}}</string>
                <key>sourceSize</key>
                <string>{165,296}</string>
            </dict>
            <key>18_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,2},{163,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{163,292}}</string>
                <key>sourceSize</key>
                <string>{165,296}</string>
            </dict>
            <key>18_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,296},{157,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{157,288}}</string>
                <key>sourceSize</key>
                <string>{165,296}</string>
            </dict>
            <key>18_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{143,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{143,288}}</string>
                <key>sourceSize</key>
                <string>{165,296}</string>
            </dict>
            <key>18_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,894},{125,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,3},{125,290}}</string>
                <key>sourceSize</key>
                <string>{165,296}</string>
            </dict>
            <key>18_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,598},{107,294}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,0},{107,294}}</string>
                <key>sourceSize</key>
                <string>{165,296}</string>
            </dict>
            <key>18_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,296},{99,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,2},{99,292}}</string>
                <key>sourceSize</key>
                <string>{165,296}</string>
            </dict>
            <key>18_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,586},{105,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,4},{105,288}}</string>
                <key>sourceSize</key>
                <string>{165,296}</string>
            </dict>
            <key>18_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,876},{117,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,5},{117,286}}</string>
                <key>sourceSize</key>
                <string>{165,296}</string>
            </dict>
            <key>18_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,586},{141,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{141,288}}</string>
                <key>sourceSize</key>
                <string>{165,296}</string>
            </dict>
            <key>18_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,598},{157,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{157,294}}</string>
                <key>sourceSize</key>
                <string>{165,296}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_fram_18.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:77562de62da868cde63de6c7b39c1db3:1/1$</string>
            <key>textureFileName</key>
            <string>fish_fram_18.png</string>
        </dict>
    </dict>
</plist>
